<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular.min.js"></script>
<html ng-app="app">
<head>
	<title>Angular</title>
	<link rel="stylesheet" href="https://cdn.rawgit.com/yegor256/tacit/gh-pages/tacit-css-1.3.5.min.css"/>
	<script src="movies.js"></script>
	<link rel="stylesheet" href="movies.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script>
	<title></title>
</head>
<body>

	<div id="app" ng-controller="MovieCtrl">

		<header>

			<a href="/">&laquo;</a>

			<h1>AngularJs</h1>

			<h2>{{ movies().length }} Movies</h2>

			<div>
				<label>
					Search : <input type="text" ng-model="filter">
				</label>
			</div>

			<div>
				<label>
					<input type="checkbox" ng-model="stared"> Only &#9733;
				</label>
			</div>

		</header>

		<table>
			<thead>
				<th width="80%">Title</th>
				<th width="10%">Rating</th>
				<th width="10%">Stared</th>
			</thead>
			<tbody>
				<tr ng-repeat="movie in movies() track by movie.id">
					<td>{{ movie.title }}</td>
					<td>{{ movie.rating }}</td>
					<td>
						<a ng-click="movie.stared = !movie.stared">{{ movie.stared ? "&#9733;" : "&#9734;" }}</a>
					</td>
				</tr>
			</tbody>

		</section>

	</div>

	<script type="text/javascript">

		var app = angular.module('app', []);

		app.controller('MovieCtrl', function ($scope) {

			var movies = [];

			$scope.stared = false;
			$scope.filter = "";

			$scope.movies = function () {
				return movies.filter((m) => filterMovie(m, { filter: $scope.filter, stared: $scope.stared }));
			};

			getMovies().then((all) => {
				movies = all;
				$scope.$digest();
			});


		});

	</script>
</body>
</html>