<!DOCTYPE html>
<html>
<head>
	<title>Vue</title>
	<link rel="stylesheet" href="https://cdn.rawgit.com/yegor256/tacit/gh-pages/tacit-css-1.3.5.min.css"/>
	<script src="movies.js"></script>
	<link rel="stylesheet" href="movies.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script>
</head>
<body>
	<div id="app">

		<header>

			<h1>Vue</h1>
			
			<h2>{{ movies.length }} Movies</h2>

			<div>
				<label>
					Search : <input type="text" v-model="filter">
				</label>
			</div>

			<div>
				<label>
					<input type="checkbox" v-model="stared"> Only &#9733;
				</label>
			</div>

		</header>

		<table>
			<thead>
				<th width="80%">Title</th>
				<th width="10%">Rating</th>
				<th width="10%">Stared</th>
			</thead>
			<tbody>
				<tr v-for="movie in movies" :key="movie.id">
					<td>{{ movie.title }}</td>
					<td>{{ movie.rating }}</td>
					<td>
						<a @click="movie.stared = !movie.stared">{{ movie.stared ? "&#9733;" : "&#9734;" }}</a>
					</td>
				</tr>
			</tbody>

		</table>

	</div>

	<script type="text/javascript">
		

		var app = new Vue({
			el: "#app",
			data() {
				return {
					allMovies: [],
					filter: "",
					stared: false
				};
			},
			beforeCreate: function () {
				getMovies().then((movies) => {
					this.allMovies = movies;
				});
			},
			methods: {
				filterMovie(movie) {
					return filterMovie(movie, { filter: this.filter, stared: this.stared })
				}
			},
			computed: {
				movies() {
					return this.allMovies.filter((m) => this.filterMovie(m));
				}
			}

		})

	</script>
</body>
</html>